﻿@model Employee.Web.UserEntity

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<style>
    .errBox {
        border-left: 3px solid red;
    }

    .error {
        color: red;
    }
</style>

<div class="content-wrapper container">

    <div id="divLoginContainer">
        @using (Html.BeginForm("PostLogin", "Login", FormMethod.Post, new { @area = "Admin", @id = "frmLogin", @name = "frmLogin" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.HiddenFor(x => x.Id)*@

            <div class="container">
                <br /><br />

                <div class="row" style="margin-right: 10%" ;>
                    <div class="col-md-6 well form-horizontal">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">USERNAME</label>
                            </div>



                            <div class="col-md-8">
                                @Html.EditorFor(x => x.USERNAME, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "Username", @title = "Username", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">USERPASSWORD</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.USERPASSWORD, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "Password", @title = "Password", @maxLength = 30 } })
                            </div>
                        </div>

                        <div style="margin:5%" class="form-group pull-right">
                            <a href="@Url.Action("Index","Login")" class="btn btn-default">Cancel</a>
                            <button type="button" class="btn btn-primary pull-right" onclick="javascript:InsertUpdateLogin();">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Assests/custom-scripts/Login.js"></script>
}


