﻿@model Employee.Web.EmployeeDetailsEntity 
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<style>
    .errBox {
        border-left: 3px solid red;
    }

    .error {
        color: red;
    }
</style>

<div class="content-wrapper container">

    <div id="divEmployeeContainer">
        @using (Html.BeginForm("PostEmpolyee", "Employee", FormMethod.Post, new { @area = "Admin", @id = "frmEmployee", @name = "frmEmployee" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ID)

            <div class="container">
                <br /><br />

                <div class="row" style="margin-right: 10%" ;>
                    <div class="col-md-6 well form-horizontal">

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label">EMPLOYEE ID</label>
                            </div>



                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_ID, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_ID", @title = "EMPLOYEE_ID", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">NAME</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_NAME, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_NAME", @title = "EMPLOYEE_NAME", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">DESIGNATION</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_DESIGNATION, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_DESIGNATION", @title = "EMPLOYEE_DESIGNATION", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">SALARY</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_SALARY, new { htmlAttributes = new { @autocomplete = "off", @type = "number" ,@class = "form-control requiredField", @placeholder = "EMPLOYEE_SALARY", @title = "EMPLOYEE_SALARY", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">DEPARTMENT</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_DEPARTMENT, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_DEPARTMENT", @title = "EMPLOYEE_DEPARTMENT", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">LOCATION</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_LOCATION, new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_LOCATION", @title = "EMPLOYEE_LOCATION", @maxLength = 30 } })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">DOB</label>
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(x => x.EMPLOYEE_DOB, "{0:dd-MM-yyyy}",new { htmlAttributes = new { @autocomplete = "off", @class = "form-control requiredField", @placeholder = "EMPLOYEE_DOB", @title = "EMPLOYEE_DOB", @maxLength = 30 } })
                            </div>
                        </div>

                        <div style="margin:5%" class="form-group pull-right">
                            <a href="@Url.Action("Index","Employee")" class="btn btn-default">Cancel</a>
                            <button type="button" class="btn btn-primary pull-right" onclick="javascript:InsertUpdateEmployee();">Submit</button>

                        </div>
                    </div>
                </div>


                <table id="tblEmployee" class="table table-bordered table-striped">
                    <thead>
                        <tr style="background-color:#367fa9;color:white">
                            <th style="width:400px">Emp_Id</th>
                            <th style="width:400px">Emp_Name</th>
                            <th style="width:400px">Emp_Desig</th>
                            <th style="width:400px">Emp_Salary</th>
                            <th style="width:400px">Emp_Dept.</th>
                            <th style="width:400px">Emp_Loc.</th>
                            <th style="width:400px">Emp_DOB</th>
                            <th style="width:200px">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.EmployeeList)
                        {
                            <tr style="background-color:white">
                                <td>@item.EMPLOYEE_ID</td>
                                <td>@item.EMPLOYEE_NAME</td>
                                <td>@item.EMPLOYEE_DESIGNATION</td>
                                <td>@item.EMPLOYEE_SALARY</td>
                                <td>@item.EMPLOYEE_DEPARTMENT</td>
                                <td>@item.EMPLOYEE_LOCATION</td>
                                <td>@item.EMPLOYEE_DOB</td>
                                <td>
                                    <a href="@Url.Action("EditEmployee","Employee",new { @area = "User", @EmployeeID = item.ID })">Edit </a>
                                    @if (item.StatusId == 2)
                                    {
                                        <a href="javascript:void(0)" onclick="ActivateEmployee(@item.ID)"> | Activate </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" onclick="DeactivateEmployee(@item.ID)">| Deactivate </a>
                                    }
                                    <a href="javascript:void(0)" onclick="DeleteEmployee(@item.ID)">| Delete </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@section scripts{
    <script src="~/Assests/custom-scripts/Employee.js"></script>
}


