﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link href="~/Assests/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/Assests/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assests/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assests/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assests/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="~/Assests/bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="shortcut icon" href="~/Assests/images/cart.png" type="image/x-icon" />

</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        @*<header class="main-header">
            <a href="#" class="logo">
                <span class="logo-mini"><b>JP</b></span>
                <span class="logo-lg"><b>Job Portal</b> </span>
            </a>

            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user-circle"></i>
                                <span class="hidden-xs">Admin</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <i class="fa fa-user-circle fa-3x" style="color:white"></i>
                                    <p>
                                        Admin
                                    </p>
                                </li>

                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <i style="color:white" class="fa fa-user-circle fa-3x"></i>
                    </div>
                    <div class="pull-left info">
                        <p> Admin</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <ul class="sidebar-menu" data-widget="tree">
                    <li class=" treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span> Masters</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                           
                        </ul>
                    </li>
                </ul>

            </section>
        </aside>*@
        @RenderBody()
    </div>

    <script src="~/Assests/lib/jquery/dist/jquery.js"></script>
    <script src="~/Assests/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/Assests/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assests/bower_components/raphael/raphael.min.js"></script>
    <script src="~/Assests/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <script src="~/Assests/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Assests/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Assests/bower_components/moment/min/moment.min.js"></script>
    <script src="~/Assests/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Assests/dist/js/adminlte.min.js"></script>
    <script src="~/Assests/dist/js/demo.js"></script>
    <script src="~/Assests/validation/custom-validation.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
